h1 {
  background-color: orange;
  width: fit-content;
}
body {
  background-color: rgb(238, 234, 234);
}
p {
  background-color: blue;
  margin: 0;
  padding: 0.5rem;
}

.red {
  width: 700px;
  background-color: orange;
}
.orange {
  margin: 0;
  background-color: #df5800;
}
.orange2 {
  background-color: orange;
}
.green {
  background-color: greenyellow;
}
.warm {
  background-color: #df5800;
}

.brown {
  background-color: #df5800;
}
.light {
  background-color: blanchedalmond;
}
.game {
  width: 700px;
}

.black {
  background-color: white;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
nav,footer, header {
    grid-column: 1/3;
}

main{
    grid-column: 1/2;
    /* background-color: yellow; */

}
aside{
    /* background-color: aqua; */
    grid-column: 2/3;
}