h1 {
  background-color: orange;
  width: fit-content;
}
body {
  background-color: rgb(238, 234, 234);
}
p {
  background-color: orange;
  margin: 0;
  padding: 0.5rem;
}



.orange {
  margin: 0;
  background-color: #484543;
  color: white;
}


.green {
  background-color: greenyellow;
}

.light {
  background-color: blanchedalmond;
}
.game {
  width: 700px;
}

.black {
  background-color: white;
}



.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
nav,footer, header {
    grid-column: 1/3;
}

main{
    grid-column: 1/2;
    /* background-color: yellow; */

}
aside{
    background-color: aqua
    ;
    grid-column: 2/3;
}
img{
    width: 60%;
    height:25%
    
    ;

}