h1 {
  background-color: orange;
  width: fit-content;
}
body {
  background-color: rgb(238, 234, 234);
}
p {
  background-color: blue;
  margin: 0;
  padding: 0.5rem;
}

.red {
  width: 700px;
  background-color: orange;
}
.orange {
  margin: 0;
  background-color: #df5800;
}
.orange2 {
  background-color: orange;
}
.green {
  background-color: greenyellow;
}
.warm {
  background-color: #df5800;
}

.brown {
  background-color: #df5800;
}
.light {
  background-color: blanchedalmond;
}
.game {
  width: 700px;
}

.black {
  background-color: white;
}
